.action-icon {
  color: map-get($spacers, mute);
  font-size: map-get($spacers, 4) !important;
}
.number-like-action {
  line-height: 23px;
}
.author-name {
  font-size: map-get($spacers, 3) !important;
  color: black !important;
}
.cover-img {
  > .ant-image {
    width: 100%;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
  }
}
@media only screen and (max-width: 600px) {
  .cover-img {
    > .ant-image {
      height: 200px;
    }
  }
}
