.editor-container {
	background-color: #f7f7f7;
	padding: 5px 10px;
	.codex-editor__redactor {
		padding-bottom: 0 !important;
		.ce-block__content {
			max-width: 100%;
		}
	}
	.ce-toolbar {
		display: none;
	}
}
