* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

.app{
  min-height: 100vh !important;
  justify-content: space-between !important;
}

.editor-container{
  background-color: #f7f7f7;
  margin: 0 1rem;
  padding: 0.5rem;
}

.codex-editor__redactor {
  padding-bottom: 0 !important;
}

.ce-settings__default-zone {
  padding: 0 !important;
}

.cdx-settings-button {
margin:0 !important;
}
