* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

.app{
  min-height: 100vh !important;
  justify-content: space-between !important;
}

.action-icon {
  color: rgba(0, 0, 0, 0.45) !important;
  font-size: 24px !important;
  margin-right: 50px !important;
}
